@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.body {
  font-family: 'Playfair Display', serif;
}

.header {
  background-color: #6e4b34; /* Marrón oscuro */
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Playfair Display', serif;
  margin-top: 0;
}

.logo a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.logo a:hover {
  color: #b08968; /* Marrón claro */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #b08968; /* Marrón claro */
}

.userSection {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userName {
  font-size: 16px;
  color: #f0f0f0;
}

.logoutButton {
  background: linear-gradient(145deg, #8b5e3c, #6e4b34); /* Gradiente marrón */
  border: 2px solid #6e4b34; /* Borde marrón oscuro */
  padding: 6px 10px;
  margin-left: 20px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
}

.logoutButton:hover {
  background: linear-gradient(145deg, #6e4b34, #8b5e3c); /* Invertir gradiente en hover */
  border-color: #8b5e3c;
}

.loginLink {
  background: linear-gradient(145deg, #8b5e3c, #6e4b34);
  border: 2px solid #6e4b34;
  padding: 6px 10px;
  margin-left: 20px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s, border-color 0.3s;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
}

.loginLink:hover {
  background: linear-gradient(145deg, #6e4b34, #8b5e3c);
  border-color: #8b5e3c;
}
