.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoImage {
    height: 50px;
  }
  
  .navList {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }
  
  .userInfo {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .logoutButton {
    background-color: #ff4d4d;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
  }
  
  .loginRegisterButton {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #444;
  }
  